# From openapi-generator v6.0.0

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/target
target
.gradle
build

# Added by Cybrid
.github
.gradle
.bundle
.openapi-generator
.pytest_cache
.gitlab-ci.yml
.openapi-generator-ignore
.travis.yml
build.gradle
build.sbt
gradle.properties
gradlew
gradlew.bat
settings.gradle
gradle
target
vendor
git_push.sh
Pipfile
Pipfile.lock
Gemfile.lock
dist
node_modules
package-lock.json
